<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @profile_info.user_info["login"] %> (<%= @profile_info.user_info["name"] %>)/ Repositories</title>
    <link rel="stylesheet" href="/styles.css" media="screen">
  </head>
  <body>
    <main>
      <header>
        <img class="logo" src="/logo.png">
        <input class="search-github" type="text">
      </header>
      <aside class="profile-info">
        <img src= '<%= @profile_info.user_info["avatar_url"] %>' alt="profile picture">
        <h1><%= @profile_info.user_info["name"] %></h1>
        <h2><%= @profile_info.user_info["login"] %></h2>
        <div>
          Unfollow
        </div>
        <div>
          Block or report user
        </div>
        <hr />
        <ul>
          <li><%= @profile_info.user_info["company"] %></li>
          <li><%= @profile_info.user_info["location"] %></li>
          <li><%= @profile_info.user_info["email"] %></li>
          <li><%= @profile_info.user_info["blog"] %></li>
          <li><%= @profile_info.user_info["created_at"] %></li>
        </ul>
        <hr />
        <h4>Organizations</h4>
        <p><%= @profile_info.user_info["organizations_url"] %></p>

      </aside>
      <article class="repos">
        <nav>
          <ul>
            <li class="navbar">Overview</li>
            <li class="navbar">Respositories <% @repos.repos.size %></li>
            <li class="navbar">Stars</li>
            <li class="navbar">Followers </li>
            <li class="navbar">Following</li>
          </ul>
        </nav>
        <div class="search-bar">
          <input type="text">
          <button>Type: All</button>
          <button>Language: All</button>
        </div>
        <div class="repo-list">
          <ul>
            <% @repos.repos.each do |el| %>
              <li>
                <div class="repo-name"><a href='<%= el["url"] %>'><%= el["name"] %></a></div>
                <div class="repo-language"><%= el["language"] %> Updated </div>
                <div class="repo-updated"><%= el["updated_at"] %></div>
              </li>
              <hr />
            <% end %>
          </ul>
        </div>
      </article>
    </main>
  </body>
</html>
